@import "../../_globalColor";

#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 16px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $buttonColor;
  color: white;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
}

#topButton:hover {
  background-color: $topButtonHover;
  transition: all ease-in-out 0.2s;
}
